@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f2f7;
  overflow-x: hidden;
}

main {
  margin-right: 12px;
}

/* SEARCH, FILTER, SORT, AND ADD BUTTON*/
.gap-2 {
    gap: 0.5rem;
}

.me-1 { /* ICON */
    margin-right: 0.25rem;
}

/* BACK BUTTON */
.btn-back {
    background-color: #fafafa !important;
    border-radius: 12px !important;
    font-size: 17px !important;
    width: 90px !important;
    font-weight: 500 !important;
    height: 2.4rem !important;
    color: #0060c7 !important;
    border: none !important;
}

/* PRINT BUTTON */
.btn-primary {
    background-color: #0060c7 !important;
    border-radius: 25px !important;
    font-size: 17px !important;
    width: 160px !important;
    font-weight: 600 !important;
    height: 2.4rem !important;
    color: white !important;
} 

.btn i{
    margin-right: 5px !important;
}

/* SEARCH BAR */
.input-group-text.control-btn {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-right: none !important;
}

.form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  height: 40px; /* match height */
}

/* FILTER AND SORT BUTTONS */
.control-btn {
    border-radius: 12px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
    margin-left: 0 !important;
    transition: all 0.2s ease !important;
    background-color: #3086e1 !important;
    border-color: #3086e1 !important;
    color: white !important;
}

.control-btn:hover {
    background-color: #70abe9 !important;
    color: white !important;
    border-color: #70abe9 !important;
}
/* DROPDOWN MENU */
.dropdown-menu {
    border-radius: 12px !important;
    min-width: 160px !important;
}

.dropdown-item {
    border-radius: 8px !important;
    color: #01366e !important;
}

.dropdown-item:hover {
    background-color: #0060c7 !important;
    color: white !important;
}
