/* Basic container styling */
.pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px; /* space between buttons */
    padding: 10px 0;
    margin-right: 3rem;
}

/* Styling for each page button */
.pagination .page-item {
    list-style: none;
    border-radius: 100%;
}

.pagination .page-link {
    display: flex; /* Changed to flex for vertical alignment */
    align-items: center; /* Vertically centers text */
    justify-content: center; /* Horizontally centers text */
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 100%;
    color: #081f5c; /* Text color */
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
    color: #081f5c;
}

/* Active page styling */
.pagination .active .page-link {
    background-color: #0C3C74;
    color: #fff;
    border-color: #0C3C74;
}

/* Disabled button styling */
.pagination .disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}

/* Custom input styling within pagination */
.pagination .page-input {
    border: 2px solid #ddd;
    padding: 6px 5px;
    border-radius: 6px;
    margin-left: 1rem;
    width: 4.5rem;
}

.pagination .page-input:focus {
    outline: none;
    border: 2px solid #081f5c;
}